:root {
  --primary-header-color: #303030;
  --secondary-header-color: #ffffff;
  --primary-link-color: #ffffff;
  --accent-color: #ff6c00;

  --main-font: "Open Sans", sans-serif;

  --main-margin: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

button {
  cursor: pointer;
}

/* 3мод 1 зан - Шаг 4 задаем инлайн картинкам - дисплей блок ,потому что инлайн добавляет зазорі между картинками, для обьемніх букв*/

img {
  display: block;
}

body {
  font-family: var(--main-font);
  /* Зачастую font famaly, font style, иногда fant weighn наслідується  */

  /* задают на боди властивості тексту, який найбільше використовується на сайті: його фонт вейт, фон сайз, лайн хейт */

  /* посидання наслідують все від боді */

  /* " ! НЕ НАСЛІДУВАТИ ці значення можуть ЗАголовки, кнопочки, тому що браузер надає свої стилі за замовчуванням - це треба виправити и додати все - фонт сайз , фонт вейт, фонт хейт,  і поставити значення inherit дл фонт фемілі" */

  /* чтобы убедиться или наследуется просто переходим в раздер разработчика в раздель styles и смотрем elements styles и inhereted from .... Если что-то будет повторятся, просто его не записыввем во властивости елемента , потому что он и так наследуется с боди */
}

/* -------------UTILITARIAN CLASSES---------- */
/* 3мод 1 зан - шаг 1 */
/* контейнер успадковує бокс сайзинг бордер бокс, тому якщо ми додаємо паддинги 1170 це буде розмір разом з паддігнами, тому 1170 ми змінюємо на 1200 */

/* марджин 0 ауто, чтобы контейнер центрировался по центру  */
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}
.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

/* 4 занятие учимся добавлять бифоре в наш макет хероо-при- тайтл
 2.для того чтобі они стали в ряд, нужно отцовсому елементу хироу-при-тайтл тоже добавить дисплей флекс 
 3. перенесли все в уталитарний класс, потому что сразу на несколько секций хотим задать єти условия*/

.pre-title {
  display: flex;
  align-items: center;
}
.pre-title::before {
  content: "";
  width: 60px;
  height: 1px;
  display: block;
  background-color: currentColor;
  margin-right: 20px;
}

/* ------HEADER---------- */

.header {
  background-color: gray;
}

/* 3 мод 2 занят задаємо усьому хедер контейнеру флекс, не задаємо на утилит контейнер, тому що не всі контейнеру захочуть бути флекс */

/* 3 мод 2 занят задаємо флекс батьківському елементу списку  */

.header .container {
  display: flex;
  align-items: center;
}

.header-list,
.header-contact {
  display: flex;
}

/* мод 3 зан 2 задали марджан правий на батьківський елемент для лишек на все ли кроме последнего  */
.header-list li + li {
  margin-left: 30px;
}

/* .header-list > li:not(:last-child) {
  margin-right: 30px;
} */

/* 3мод 1 зан - шаг 2 */
/* задаем паддинг найвищ елементу */
/* а у нас инлайновий - поєтому задаем дисплей блок  */

/* отодвинули с помощью марджина лого от списка */
.header-logo {
  padding: 32px 0;
  display: block;
  margin-right: 130px;
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-link-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* создали батьківсь елемент для контактов хедер контакт і задайом ему автоматический маржин левій , чтобі отодвинуть наш елемент вправо  */

.header-contact {
  margin-left: auto;
}
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-link-color);
}

/*3 мод 2 занят  задати марджан между кнопкой и ссілкой задаю кнопке */

/* доделіваем кнопку задаем бодер и бордер радиус, высоту и мин ширину и задний цвет, бекграунд транспарент чтобі просвечивалась - залн фон прозрачній   */
.header-btn {
  margin-left: 40px;
  color: #ffffff;
  background-color: transparent;

  border: 1px solid #ff6c00;
  border-radius: 25px;
  height: 40px;
  min-width: 160px;
}

/* ------SECTION HERO---------- */

/* мод 3 зан 1 шаг 3  */
/* дописуемо класс хиро райт и дописіваем паддинг к елементам ,чтобі оторвать его он ютуба и инстаграма */

/* виносимо общий марджин между едеменами в змінну, а також задаємо марджин боттон всем елементам в єтом контейнере - херо при тайтл, херо тайтл   */

/* херо текст задаем макс видс - чтобі разбить на 2 строчки */

/* 3 мод 2 зад задаем флекс херо */
.hero .container {
  display: flex;
}

/* 3 мод 2 зан обьязательно задаем гроф , потому что правая часть будет расти в зависимости от контента b и сободного места   */
.hero-right {
  padding: 184px 526px 208px 100px;
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../imeges/barber-bcg.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #303030;
}

/* 3 мод 2 зан мы задаем фиксир ширину которая всегда должна быть  */

.hero-list {
  width: 100px;
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--main-margin);
}

.hero-title {
  color: var(--secondary-header-color);
  margin-bottom: var(--main-margin);
  font-size: 72px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.67x;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 370px;
}
.hero-links {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-links:hover,
.hero-links:focus {
  color: var(--accent-color);
}

/* ------ABOUT---------- */
/* контейнеру ебаут флекс */
/* 3 мод 1 зан шаг 5 отріваем засчет внтреннпадинга вот єтот белій промежуток в контейнере делаем єто на классе ебаут  */

/* 3 мод 2 задан задаем марджин между картинками */
.about .container {
  display: flex;
}

.list-about {
  display: flex;
}

.about-items:not(:last-child) {
  margin-right: 30px;
}

.about-wrap {
  margin-left: 30px;
}

.about {
  padding: 120px 0;
}
.about-pre-title {
  color: #303030;
  margin-bottom: var(--main-margin);
}
.about-title {
  color: var(--primary-header-color);
  margin-bottom: var(--main-margin);
  font-size: 42px;
}
.about-after-title {
  color: #555555;
  margin-bottom: var(--main-margin);
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-btn {
  color: #303030;
  background-color: transparent;

  border: 1px solid #ff6c00;
  border-radius: 25px;
  height: 40px;
  min-width: 160px;
}

/* ------PRICES---------- */
/* 3 мод 1 зан - 6 шаг  тотже алгорим что и вшаге 5 - паддинг на общую секцию от верх и нижн елемента, марджині-боттон между елементами */

/* prices list задаем падинги с 4 сторон  */

/* prices items марджен боттон */

/* botton вирівнюємо по центру,дисплей,марджин топ  */

.prices {
  padding: 12px 0;
  background-image: url(../imeges/img_trans.png);
  background-color: #111319;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

/* делаем промежут геп между списками в флекс контейнере */
.prices-list-wrap {
  display: flex;
  gap: 30px;
}
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--main-margin);
}

.prices-title {
  color: var(--secondary-header-color);
  margin-bottom: 44px;
}

/* 3 урок 2 занятие задаем возможность елементам рости , потому что флекс их уменьшил */
.prices-list {
  padding: 30px 20px;
  flex-grow: 1;
}

.prices-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.prices-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

/* 3 зан 2 урок задаю ли флекс и джастифай контентспейс битвин использ, чтобі рассунуть цену и наименование к краям 
2)обнуляет крайний марджан с помощтю ласт чайлд */
.prices-items {
  margin-bottom: var(--main-margin);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.prices-items::after {
  content: "";
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin: 0 12px;
}
.prices-elem:last-child {
  order: 1;
}

.prices-items:last-child {
  margin-bottom: 0px;
}

.prices-elem {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-btn {
  color: #ffffff;
  margin: 0 auto;
  display: block;
  margin-top: 44px;
  background-color: transparent;
  padding: 12px 20px;
  border-radius: 20px;
  border-color: var(--accent-color);
}

/* ------------BEEFITS----------- */

/* Шаг 7 - точно также как и в шаге 6  */
/* benefits - items, паддинг , текст инлайн - центрарирование, задаем батьківському елементу   */
/* benefits items> span перевели в инлайн бол и центрировали  */

.benefits {
  padding: 120px 0px;
}

.benefits .container {
  display: flex;
}

.benefits-list-wrap {
  width: calc(50% + 15px);
  display: flex;
  justify-content: center;
}

.benefits-wrap {
  padding-top: 9px;
}

/* 3 мод 2 занят задать юл флекс а также ширину  */
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin-right: 130px;
}

.benefits-items {
  background-color: #f7f7f7;
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  text-align: center;
}

.benefits-items:nth-child(2n + 1) {
  margin-right: 30px;
}

.benefits-items:nth-child(2n) {
  margin-top: 30px;
}

.benefits-items > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  color: #303030;
  display: inline-block;
  text-align: center;
}

.benefits-items > span {
  display: flex;
  justify-content: center;
}

.benefits-items > span::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}

.benefits-pre-title {
  color: #303030;
  margin-bottom: var(--main-margin);
}

.benefits-title {
  color: var(--primary-header-color);
  margin-bottom: var(--main-margin);
  max-width: 430px;
}

.benefits-after-title {
  color: #555555;
  max-width: 500px;
}

/* ------------BEARBERS----------- */
/* 3 мод 1 занят - 7 шаг, тоже самое что и в 6  */

.barbers {
  padding: 120px 0px;
  background-color: #f7f7f7;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barbers-soc-items {
  width: 44px;
  height: 44px;
}

.barbers-soc-items:not(:last-child) {
  margin-right: 10px;
}

.barbers-soc-link {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: black;
}

.barbers-soc-link:hover {
  background-color: #000;
  color: var(--accent-color);
}

.barbers-soc-icons {
  fill: currentColor;
}

/* .barbers-soc-link:hover .barbers-soc-icons {
  fill: #ff6c00;
} */

.barbers-pre-title {
  color: #303030;
  padding-bottom: var(--main-margin);
}

.barbers-title {
  color: var(--primary-header-color);
  padding-bottom: 44px;
}

/* 3 мод 2 занят как делать сетку 1. ставим во флекс список 2. задаем ширину елементам c помощью кальк - барберс айтемс, (або флекс базис) задаем марджин райт */
.barbers-list {
  display: flex;
}

.barbers-items:not(:last-child) {
  margin-right: 30px;
}
.barbers-items {
  flex-basis: calc((100% - 60px) / 3);
}

.barbers-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-top: 30px;
  margin-bottom: 8px;
}
.barbers-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}
/* -------------------GALLERY-------- */
.gallery {
  padding: 120px 0px;
}
.gallery-pre-title {
  color: #303030;
  margin-bottom: 44px;
}

/* сетка: ставим наш список во флекс - в рядок картнкки,2.чтобы картинки не вылазили за границы нашего контейнера ставим видз через кальк 3задаем на елементи марджин лефт и боттон,задаем - марджани  для батькывс елемента */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.gellery-item {
  width: calc ((100% -120px)/4);
  margin-left: 30px;
  margin-bottom: 30px;
}

/* -------------------FORM-------- */
.form-title {
  color: var(--secondary-header-color);
}

/* -------------------CONTACTS------- */

/* поставили картинку справа засчет клка */
.contact-wrap {
  background: #191c26;
  background-image: url(../imeges/barber-png.png);
  background-repeat: no-repeat;
  background-size: calc(50% - 15px);
  background-position: center right;
}

.contact-wrap > .container {
  display: flex;
}

.form {
  width: calc(50% + 15px);
  padding-top: 130px;
}

.contacts {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
}
.contacts-title {
  color: var(--secondary-header-color);
}

.contacts-links {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contact-adress {
  font-weight: 700;
}
.contacts-pre-title {
  color: #ffffff;
}

.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* --------FOOTER----- */
.container {
  padding: 56px 0px;
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-links {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.2em;
  color: #303030;
}

.footer-links:hover,
.footer-links:focus {
  color: var(--accent-color);
}
